.timeline-wrapper {
  position: relative;
  max-width: 900px;
  margin: 20px auto;
  display: flex;
}

.timeline-wrapper::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #a8dbe0;
  top: 0;
  bottom: 0;
  left: 50%;
}
